* {
    font-family: 'Raleway', sans-serif;
}


#eyeCandyHeading {
    text-align: center;
    color: #F67C47;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0.5%;
    margin-left: -1%;
    width: 100%;
    padding-left: 2%;  
}

html {
    background: #051336;
    max-width: 100%;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

body {
    width: 100%;
    top: 0;
    bottom: 0;
    height: 95vh !important;
}
.main {
    width: 90%;
    padding-bottom: 5%;
    color: #7AFFCF;
    text-align: center;
    height: 77%;
}

.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    padding-right: 2% !important;
}

#footerParagraph {
    text-align: center;
    color: #7AFFCF;
}

.sidebar {
    color: #7AFFCF !important;
    position: absolute;
    left: 0;
    right: 0;
    height: 90vh;
    margin-top: -2%;
    width: 15%;
}

.sidebar .menu-links {
    list-style-type: none !important;
    text-align: left;
    z-index: 1;
}

.sidebar .menu-links .menu-label {
    padding-top: 25%;
    font-size: 15px;
    opacity: 50%;
}

.sidebar .menu-links .menu-link {
    color: #7AFFCF;
    text-decoration: none;    
    transition: all 0.5s ease-out 50ms;

}

.sidebar .menu-links .menu-link:hover {
    text-decoration: underline;
    font-weight: bolder;
    text-transform: lowercase;
    color: #77EFFF;

}

li {
    padding-bottom: 20%;
    padding-top: 20%;
    font-size: 20px;
}

.right-section {
    position: absolute;
    right: 0;
    height: 89vh;
    width: 5%;
    /* margin-top: -2%; */
}

.heading-link {
    transition: all 0.5s ease-out 50ms;
    text-decoration: none;
    color: #7AFFCF;
}

.heading-link:hover {
    text-transform: lowercase;
    text-decoration: underline;
    color: #77EFFF;
}

.page-heading {
    text-align: center;
    padding-top: 6%;
    padding-left: 14%;
}

.contact-form {
    padding-left: 14%;
}

#contactMessage {
    resize: none;
}

.form-input {
    width: 18%;
}

.submit-button {
    color: white;
    background-color: #2C4366;
    padding: 10px;
    border: none;
    opacity: 0.6;
}

.submit-button:hover {
    border: none;
    opacity: 1;
}

input {
    border: 2px solid #2C4366;
    border-radius: 4px;
    transition: all 0.5s ease-out 50ms;
    outline: none;
}

input:hover {
    border: 4px solid #2C4366;
    border-radius: 8px;
}

textarea {
    border: 2px solid #2C4366;
    border-radius: 4px;
    transition: all 0.5s ease-out 50ms;
    outline: none;
}

textarea:hover {
    border: 4px solid #2C4366;
    border-radius: 8px;
}

.thank-you-message {
    padding-left: 8%;
}

.private-venue-image {
    padding-top: 7%;
    width: auto;
    height: 275px;
    left: 400px;
    position: absolute;
    padding-right: 15%;
}

.private-venue-text {
    padding-top: 8.5%;
    margin-left: 59%;
    margin-right: 10%;
    text-align: justify;
    font-size: 30px;
}

.movie-cover {
    width: 150px;
    height: 180px;
    padding-right: 2%;
    transition: all 0.5s ease-out 50ms;
}

.movie-cover-row-one {
    padding-top: 8%;
    padding-left: 2%;
}

.movie-cover-row-two {
    padding-top: 10%;
    padding-right: 4%;
}

#BackToTheFutureCover {
    margin-left: 16%;
}

#StarWarsCover {
    padding-left: 20%;
}

.movie-cover:hover {
    width: 200px;
    height: 240px;
}

#ThankYouLink {
    color: #77EFFF;
}

.show-times {
    margin-left: 450px;
    text-align: left;
}

#MovieScreeningsMain {
    padding-top: 200px;
    height: fit-content;
}

th {
    text-align: center;
}

.movie-title {
    margin-right: 90px;
}

.page-heading-movies {
    text-align: center;
    padding-left: 10%;
    margin-top: -6%;
}

.movie-time-button {
    box-shadow: 0 8px 16px 0 rgba(248, 248, 248, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    background-color: #94B0DA; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.8;
    width: 180px;
    width: 200px;
}

.movie-time-button:hover {
    opacity: 1;
}