* {
    font-family: 'Raleway', sans-serif;
}

#eyeCandyHeading {
    text-align: center;
    color: #FFFFFF;
    background-color: #545454;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0.5%;
    margin-left: -1%;
    width: 100%;
    padding-left: 2%;
    
    
}

html {
    background: #545454;
    max-width: 100%;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

body {
    width: 100%;
    top: 0;
    bottom: 0;
    height: 95vh !important;
}
.main {
    background-color: #2E2C2C;
    width: 90%;
    padding-bottom: 5%;
    color: white;
    text-align: center;
    height: 77%;
}

.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: #545454;
    padding-right: 2% !important;
}

#footerParagraph {
    text-align: center;
    color: #FFFFFF;
}

.sidebar {
    color: #FFFFFF;
    position: absolute;
    left: 0;
    background: #545454;
    height: 90vh;
    margin-top: -2%;
    width: 15%;
}

.sidebar .menu-links {
    list-style-type: none !important;
    text-align: center;
    z-index: 1;
}

.sidebar .menu-links .menu-label {
    padding-top: 25%;
}

.sidebar .menu-links .menu-link {
    color: white;
    text-decoration: none;    
    transition: all 0.5s ease-out 50ms;

}

.sidebar .menu-links .menu-link:hover {
    text-decoration: underline;
    font-weight: bolder;
    text-transform: lowercase;
    color: #DCF763;

}

li {
    padding-bottom: 20%;
    padding-top: 20%;
    font-size: 20px;
}

.right-section {
    position: absolute;
    right: 0;
    background: #545454 !important;
    height: 89vh;
    width: 5%;
    /* margin-top: -2%; */
}

.heading-link {
    transition: all 0.5s ease-out 50ms;
    text-decoration: none;
    color: white;
}

.heading-link:hover {
    text-transform: lowercase;
    text-decoration: underline;
    color: #DCF763;
}

.batman-banner-image {
    
    position: absolute;
    left: 15%;
    height: 250px;
    width: 37.7%;    
}

.joker-banner-image {
    position: absolute;
    right: 9.6%;
    height: 250px;
    width: 37.7%;
}

.page-heading {
    text-align: center;
    padding-top: 16%;
    padding-left: 14%;
}

.contact-form {
    padding-left: 14%;
}

#contactMessage {
    resize: none;
}

.form-input {
    width: 18%;
}

.submit-button {
    color: white;
    background-color: #2C4366;
    padding: 10px;
    border: none;
    transition: all 1s ease-out 200ms;
}

.submit-button:hover {
    text-transform: lowercase;
    border: none;
}

input {
    border: 2px solid #2C4366;
    border-radius: 4px;
    transition: all 0.5s ease-out 50ms;
    outline: none;
}

input:hover {
    border: 4px solid #2C4366;
    border-radius: 8px;
}

textarea {
    border: 2px solid #2C4366;
    border-radius: 4px;
    transition: all 0.5s ease-out 50ms;
    outline: none;
}

textarea:hover {
    border: 4px solid #2C4366;
    border-radius: 8px;
}

.thank-you-message {
    padding-left: 8%;
}

.private-venue-image {
    padding-top: 18%;
    width: auto;
    height: 275px;
    left: 400px;
    position: absolute;
    padding-right: 15%;
}

.private-venue-text {
    padding-top: 20%;
    margin-left: 59%;
    margin-right: 10%;
    text-align: justify;
    font-size: 30px;
}

.movie-cover {
    width: 150px;
    height: 180px;
    padding-right: 2%;
    transition: all 0.5s ease-out 50ms;
}

.movie-cover-row-one {
    padding-top: 8%;
    padding-left: 2%;
}

.movie-cover-row-two {
    padding-top: 10%;
    padding-right: 4%;
}

#BackToTheFutureCover {
    margin-left: 16%;
}

#StarWarsCover {
    padding-left: 20%;
}

.movie-cover:hover {
    width: 200px;
    height: 240px;
}

#ThankYouLink {
    color: #DCF763;
}

.show-times {
    margin-left: 600px;
    border-style: solid;
    text-align: left;
}

#MovieScreeningsMain {
    padding-top: 200px;
}





